/*estilização da tabela*/

table, td, th{
    border: solid 1px black;
    border-collapse: collapse;
    height: 25px
}
td{
    width: 150px
}
th{
    height: 50px;
    background-color: rgb(0, 174, 255);
}
tr:nth-child(even) {
    background-color: #dde8f7;
}
tr:hover {
    background-color: #1225355e;
}
.color{
    background-color: rgba(137, 173, 197, 0.918);
    text-align: right;
}
.tamanho{
    width: 50px;
}